@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300;400;500&family=Rubik:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

.responsive {
    max-width: 1300px;
    margin: auto;
    padding: 190px 80px;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    align-items: center;
    background-color: #92c84e;
    height: 60vh;
    border-radius: 20px;
}

.box .left {
    padding: 20px;
}

.box .left h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 30px;
    text-align: center;
}

.box .left p {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 5px;
}

.box .left input {
    width: 100%;
    padding: 20px 15px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
    outline: none;
    background-color: #e0e0e0;
    transition: 0.3s ease-in-out;
}

.box .left input:hover {
    background-color: #bebdbd;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;   
}

.box .left button {
    background-color: #237a00;
    color: aliceblue;
    font-size: 1.6rem;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}

.box .left button:hover {
    background-color: #1a5c00;
}

.box .right {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box .right .result {
    display: flex;
    align-items: center;
}

.box .right .result img {
    padding: 0 40px;
    width: 300px;
}
.box .right .resultSpan {
    padding: 20px;
}

.box .right .resultSpan .valor {
    color: #fff;
    text-align: right;
    font-size: 6rem;
}

.box .right p {
    color: #fff;
    font-size: 1.4rem;
    padding: 15px;
}

#resultado {
    color: #fff;
    font-size: 2rem;
}

@media(max-width: 1040px) {
    
    .responsive {
        padding: 40px 20px;
    }
    
    .box {
        flex-direction: column;
        height: auto;
    }

    .box .right {
        display: flex;
        flex-direction: column;
    }

    .box .right .img {
        width: 90%;
        margin: 10px;
    }

    .box .left h1 {
        margin: 20px 0;
    }

    .box .left input {
        width: 100%;
    }
}

@media(max-width: 860px) {
    
    .result {
        flex-direction: column;
    }

    .resultSpan {
        order: -1;
    }
}